div.menu {
    background-color: #3333;  
  }
  
  div.menu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.menu a:hover {
    background-color: #777;
  }

  div#acces {
      display: inline-block;
  }

  div#search {
      float: right;
      padding-top: 14px;

  }